header, footer{background-color: rgb(128, 20, 20); color: antiquewhite;}
header{
display: flex;
align-items: center;
justify-content: space-between;
padding: 0rem 2rem;
font-family: Mogra;
}
header h1{font-size: 35pt;
font-weight: 100;}

.logo{display: flex;
align-items: center;
justify-content: space-between;
gap: .9rem;}

header img{height: 4rem;}

footer{display: flex;
align-items: center;
justify-content: center;
gap:1rem;}

footer a{color:antiquewhite;}

main, body{background-color: rgb(234, 221, 202);
}

nav a{color: rgb(0, 0, 0);
  text-decoration: none;
margin:.5rem;
font-family: Solitreo;
}

nav a{background-color: #D2726B;
 border: 1px solid black;
  padding: 6px;
border-color: #000000;
border-radius: .7rem;}

nav a:hover{background-color: #DAB3B3;
  text-decoration:underline;}



.title{background-image: url(images/title-image.jpg);
background-size: cover;
background-position: center;
padding: 5rem;
text-align: center;}

.title h1{margin-top:6rem;
font-family: Mogra;
font-weight: 700;

}
.title h2{margin-bottom: 0rem;
font-family: Solitreo;
  text-shadow: 
    -.3px -.3px 0 #fff,  
     .3px -.3px 0 #fff,
    -.3px  .3px 0 #fff,
     .3px  .3px 0 #fff;
}

.intro{margin: 3rem 5rem;}
.current{background-color: rgb(161, 0, 0);
margin: 2rem 8rem;
padding-bottom: 1rem;
padding-top: .1rem;
color: antiquewhite;
text-align: center;
border-radius: 2rem;}

.current a{color: antiquewhite;}
.current a:hover{color: rgb(181, 164, 164);}

.menut{background-color: rgb(80, 31, 31); color:antiquewhite;
text-align: center;
margin: 3rem 5rem 0rem 5rem;
padding-top: 2rem;
border-radius: 2rem 2rem 0rem 0rem ;
font-family: Solitreo;
}

.menu{background-color: rgb(80, 31, 31); color:antiquewhite;
display: flex;
align-items: center;
justify-content: center;
gap:5rem;
margin: 0rem 5rem 2rem 5rem;
padding: 0rem 3rem 2rem 3rem;
border-radius: 0rem 0rem 2rem 2rem 
;}

h3{text-align: center;}

.gallery{display: flex;
  flex-wrap: wrap;
align-items: center;
justify-content: center;
gap:1rem;
padding: 2rem;
margin:auto;
margin-left:4.5rem;
margin-right: 4.5rem;
margin-bottom: 2rem;
background-color: #360000;
border-radius: 2rem;}

.gallery img{height: 10rem;}

/*location*/

.location{background-color:rgb(188, 47, 47) ;
margin: 1rem 4rem;
padding: 1rem;
text-align: center;}

.vernon{background-color: rgb(169, 130, 130);
margin:2rem 4rem;
padding: 1rem 3rem;
border-radius: 2rem;}

.vernon a{color: antiquewhite;}
.vernon a:hover{color: rgb(84, 71, 71);}

    .location-title{display: flex;
align-items: start;
justify-content: space-between;}

.location-title h3{margin-bottom: 0rem;}
.location-title h4{margin-top: 0rem;}

.location-info{display: flex;
align-items: center;
justify-content: space-evenly;
gap: 1rem;}

/*story*/
 h2{font-family: Solitreo; text-align: center; font-weight: 100;}

 .story{background-color: rgb(124, 0, 0);
color: antiquewhite;
padding: 1rem;
margin: 2rem 4rem;
border-radius: 1rem;
align-content: center;}

.story2{display: flex;
align-items: center;
justify-content: space-evenly;
margin: 2rem 4rem;
gap: 2rem;}

.story2red{background-color: rgb(124, 0, 0);
color: antiquewhite;
padding: 0 1rem;
border-radius: 1rem;
height: 12rem;
align-content: center;}
.story2 img{height: 12rem;
border-radius: 1rem;}

/*merch*/
.turtle{background-color: rgb(155, 0, 0); color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;  
width: 12rem;
height: 14rem;
padding: .8rem;
border-radius: 1rem;}

.turtle img{height: 8rem;}

.turtle h4{text-align: center;
margin: 0;}

.merch{display: flex;
    flex-wrap: wrap;
    flex-direction: flex;
    justify-content: center;
    margin: 2rem 4rem 0rem 4rem;
    padding-bottom: 4rem;
    gap: 2rem;
align-content: flex-start;}

input[type="number"]{width: 5.5rem; background-color: antiquewhite;
  border: 1px solid #000000;
    border-radius: .2rem;}


button{width: 8rem; background-color: #D2726B;  border:none; border-radius: .2rem; color: antiquewhite; }

button:hover{background-color: #DAB3B3;}

/*book us*/

.contact-main{display: flex;
justify-content: space-evenly;
align-items: center;
padding-bottom: 3rem;
padding-top: 3rem;}

.form{background-color: #720000;
margin: 2rem;
border-radius: 1rem;
max-width: 40%;
padding: 1rem 2rem;
border-color: #360000;
border: 1px solid;
}

input, textarea{
padding: .5rem;
margin: .5rem 0;
border-radius: .4rem;
background-color: antiquewhite;
}
label{color: #fdf7e5;}

input[type="submit"]{
background-color: #D2726B;
color: #480000;
border: none;
}

input[type="submit"]:hover{
background-color: #DAB3B3;
cursor: pointer;}

.form h2, .form p{color: antiquewhite;
}

.my-contact a:hover{color: #a76d6d;}
.my-contact a{color:rgb(121, 37, 37);}

/*
nav a{background-color: #D2726B;
padding: .5rem;
 border: 1px solid black;
  padding: 10px;
border-color: #000000;
border-radius: .7rem;}

nav a:hover{background-color: #DAB3B3;
  text-decoration:underline;}

  */

